# DB
DATABASE_URL='postgres://postgres:postgres@localhost:5432/helpdesk'
# BetterAuth
BETTER_AUTH_URL=http://localhost:3000
# Generate with: openssl rand -base64 32
BETTER_AUTH_SECRET=to-a-random-32-plus-char-string-
